:root{
    /* Colores principales */
    --verde-principal: #8DC63F;
    --azul-principal: #2445DA;
    --negro: #000000;
    --blanco: #FFFFFF;

    /* Colores de apoyo */
    --gris-claro: #F2F2F2;
    --gris-medio: #B0B0B0;
    --gris-oscuro: #333333;

    --celeste-suave: #AFCBFF;
    --verde-menta: #D4F1BE;

    /* Colores de acento */
    --amarillo-mostaza: #FFC857;
    --coral-suave: #FF6B6B;
}
*{
    margin: 0 ;
    padding: 0;

}
body{
    margin: 0;
    padding: 0;
    background-color: var(--blanco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*header*/
header{
    background-color: var(--azul-principal);
    height: 110px;
    display: flex;
    justify-content: center;
}

.container-header{
    max-width: 1200px;
    display: grid;
    align-items: center;
    padding: 15px 20px;
    grid-template-areas: 
    "logo search container-cart"                    
    "nav-bar nav-bar nav-bar ";
    grid-template-columns: 2fr 8fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
}

header img{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: nav-bar;
}

nav ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 20px;
}

nav ul li{
    display: inline;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.container-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: container-cart;
}

#counter-product{
    color: var(--verde-principal);
    font-size: 20px;
}

.container-search{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-area: search;
    padding: 0 20px;
}

.container-search input{
    padding: 10px 0px 10px 40px;
    border-radius: 8px;
    border: solid 2px var(--verde-menta);
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    width: 100%;
}
.container-search input:focus{
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    border: solid 3px var(--verde-principal);
    transition: all .2s ease-in-out;
}
.container-search input:focus::placeholder{
    color: var(--gris-claro);
}
.search-button{
    background-color: var(--verde-principal);
    height: 38px;
    width: 40px;
    border: none;
    border-radius: 0 8px 8px 0;
    translate: -38px;
    opacity: 0.9;
    z-index: 1;
}

/*section*/
.name-section{
    color: var(--verde-principal);
    font-size: 30px;
}

section{
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 10px auto;
    padding: 20px;
    border-radius: 12px;
}

/*Producto*/
.product-container{
    width: 152px;
    height: 250px;
    border-color: #000000;
    padding: 10px;
    border-radius: 12px;
    /*border: 1px solid #000000;*/
    display: flex;
    flex-direction: column;
}

.img-product{
    height: 150px;
    width: 150px;
    border-radius: 8px;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}