:root{
    /* Colores principales */
    --verde-principal: #8DC63F;
    --azul-principal: #2445DA;
    --negro: #000000;
    --blanco: #FFFFFF;

    /* Colores de apoyo */
    --gris-claro: #F2F2F2;
    --gris-medio: #B0B0B0;
    --gris-oscuro: #333333;
    --celeste-suave: #AFCBFF;
    --verde-menta: #D4F1BE;

    /* Colores de acento */
    --amarillo-mostaza: #FFC857;
    --coral-suave: #FF6B6B;
}

#inicio{
    text-align: center;
    display: block;
    box-shadow: none;
}

.slogan{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    color: var(--negro);
}
.slogan span{
    color: var(--verde-principal);
}

#inicio p{
    font-size: 25px;
    color: var(--gris-oscuro);
    font-weight:bolder;
}

